/* This HTML page and script files are developed by
    Piyali Chattopadhyay
    Project Scientist-Technical,
    Virtual Labs IIT Kharagpur.*/


/*.col-md-5{
	
    width: 41.67%;
    min-width: 231px;
    float:left;
    /*position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
	background-color: none;
    text-align: center;
}

/*div.col-xs-6:nth-child(1){
    background-color: rgb(0,255,0);
}*/



/*.col-md-5 img{
    max-width: 100%;
}*/
.fontCss{
font-family:'Bodoni MT';
font-style:italic;
}	

.img-container {
    display: inline-block;
    position: relative;
}
/* css positions for all blue dots ,generating connecting wires */
  #bd1{
    position: absolute;
    left: 45.2%;
    bottom: 50.3%;    
	padding: 4px;
	z-index:1
  }
   #bd2{
    position: absolute;
    left: 45.4%;
    bottom: 40.3%;    
	padding: 4px;
	
  }
  #bd3{
    position: absolute;
    left: 45.5%;
    bottom: 31.3%;    
	padding: 4px;
	
  }
   #bd4{
    position: absolute;
    left: 45.6%;
    bottom: 23.8%;    
	padding: 4px;
	
  }
   #bd5{
    position: absolute;
    left: 53.6%;
    bottom: 51.8%;    
	padding: 4px;
	
  }
   #bd6{
    position: absolute;
    left: 53.8%;
    bottom: 44.2%;    
	padding: 4px;
	
  }
   #bd7{
    position: absolute;
    left: 53.8%;
    bottom: 36.8%;    
	padding: 4px;
	
  }
   #bd8{
    position: absolute;
    left: 52.5%;
    bottom: 17.6%;    
	padding: 4px;
	
  }
   #bd9{
    position: absolute;
    left: 59.7%;
    bottom: 17.6%;    
	padding: 4px;
	
  }
  
  #bd10{
    position: absolute;
    left: 89.6%;
    bottom: 55.7%;    
	padding: 4px;
	
  }
  
  #bd11{
    position: absolute;
    left: -1.3%;
    bottom: 37.6%;    
	padding: 4px;
	
  }
 
 /* css for 2nd col of 1st row of fourth container  */ 
 #dial1{
	position:absolute;
    width:5%;
	height:10%;
	top:48.5%;
	left:74.6%;	 
 }
 
 #on-off{
	position:absolute;
    width:5%;
	height:10%;
	top:84.5%;
	left:92%;	 
 }
 #Hi-Lo{
	position:absolute;
    width:5%;
	height:10%;
	top:15.5%;
	left:51.8%;	 
 }
 
 #setm{
	position:absolute;
    width:5%;
	height:10%;
	top:14.5%;
	left:73%;	 
 }
 #run-wait{
	position:absolute;
    width:5%;
	height:10%;
	top:48.5%;
	left:74.6%;	 
 }
 #temp{
	 position:absolute;
	 width:13.5%;
	 height:12%;
	 top:13%;
	 left:81%;
     background-color:black;
     color:#A8AFB5;
	font-weight:bold;
	text-align:center;
	 }
#seudotemp{
	visibility:hidden;
	 position:absolute;
	 width:15%;
	 height:12%;
	 top:50%;
	 left:85%;
     background-color:black;
     color:#A8AFB5;
	font-weight:bold;
	text-align:center;
	 }
	 #seudotemp2{
	visibility:hidden;
	 position:absolute;
	 width:15%;
	 height:12%;
	 top:50%;
	 left:85%;
     background-color:black;
     color:#A8AFB5;
	font-weight:bold;
	text-align:center;
	 }
 #ambtemp{
	visibility:visible;
	 position:absolute;
	 width:15%;
	 height:12%;
	 top:50%;
	 left:85%;
     background-color:black;
     color:#A8AFB5;
	font-weight:bold;
	text-align:center;
	 }
	#controltype{
	visibility:hidden;
	 position:absolute;
	 width:15%;
	 height:12%;
	 top:50%;
	 left:85%;
     background-color:black;
     color:#A8AFB5;
	font-weight:bold;
	text-align:center;
	 } 
	 
	#ambT{    
    width:20%;
	font-weight:bold;
	text-align:center;
	 } 
	 
	#ambs{
	 position:absolute;
	 width:15%;
	 height:12%;
	 top:50%;
	 left:85%;
     color:#A8AFB5;
	font-weight:bold;
	 }  
	 
 
 
	
#mcb{
position: absolute;
  width: 26%;
  height: 12%;
  top: 10%;
  left: 69%;
	
}	 
	 
/*-----------------------------stop watch----------------------------*/	 
.timerDisplay{
    position: relative;
    width: 32%;
    background: #ffffff;
    left: 33%;
    padding: 40px 0;
    font-family: ‘Roboto mono’,monospace;
    color: #0381bb;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}	 
	 
	 

  /* css for 4th row of  4th container  */
  
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}  
tr:nth-child(odd) {
  background-color: #F0FBCC;
} 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  